@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
nav img{
    width: 128px !important;
    height: 31px !important;
}
.navbar{
    background-color: #181818 !important;
    padding: 25px !important;
}
.navbar-brand{
    margin-left: 152px;
}
.navbar-nav{
    margin-right: 160px;
}
.nav-link{
    color: white !important;
    font-size: 15px !important;
    font-family: 'Poppins', sans-serif !important;
    margin-left: 30px;
}
.nav-link:hover{
    color: gray !important;
}
.nav-button{
    color: black !important;
    background-color: white;
    font-weight: bold !important;
    padding: 8px 25px !important;
    border-radius: 14px;
    font-size: 17px !important;
    font-style: normal;
}
.head-content{
    position: relative;
}
.head-bg{
    position: relative;
    width: 100%;
}
.head-text{
    position: absolute;
    top: 0;
    color: white;
    margin-top: 25%;
    width: 100%;
    text-align: center;
}
.head-text p{
    color: #C0C0C0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}
.head-text span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 70px !important;
    line-height: 59px;
}
.about-us{
    background-color: black;
}
.about-text{
    color: white;
    padding-top: 120px;
    text-align: center;
}
h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px !important;
    line-height: 42px;
}
.about-text span{
    color: #C0C0C0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}
.card-group2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards img{
    height: 600px;  
}
.card1{
    position: relative;
    display: inline-block;
    margin-bottom: 2%;
}
.card-text1{
    position: absolute;
    left: 0;
    margin-left: 5%;
    margin-top: 75%;
    display: inline;
    color: white;
}
.card-text1 span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card-text1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-top: 3%;
}
.read-more{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: black !important;
    background-color: white;
    padding: 10px;
    border-radius: 14px;
    transition: color 0.15s ease-in-out 0s;
}
.read-more:hover{
    color: gray !important;
}
/* CARD 2 */
.card2{
    position: relative;
    display: inline-block;
    margin-bottom: 2%;
    margin-left: 1%;
}
.card-text2{
    position: absolute;
    left: 0;
    margin-left: 5%;
    margin-top: 75%;
    display: inline-block;
    color: white;
}
.card-text2 span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card-text2 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-top: 3%;
}

/* CARD 3 */
.card3{
    position: relative;
    display: inline-block;
}
.card-text3{
    position: absolute;
    left: 0;
    margin-left: 5%;
    margin-top: 75%;
    display: inline-block;
    color: white;
}
.card-text3 span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card-text3 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-top: 3%;
}

/* CARD 4 */
.card4{
    position: relative;
    display: inline-block;
    margin-left: 1%;
}
.card-text4{
    position: absolute;
    left: 0;
    margin-left: 5%;
    margin-top: 75%;
    display: inline-block;
    color: white;
}
.card-text4 span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card-text4 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-top: 3%;
}
/* END CARDS */
.about-bg{
    position: relative;
}
.about-bg img{
    position: relative;
    width: 100%;
}
.about-bg-text{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 20%;
    margin-right: 10%;
}
.about-bg-text span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white !important;
}
.about-bg-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0 !important;
}
.icons-info{
    position: absolute;
    width: 250px;
    bottom: 0;
    right: 0;
    margin-right: 6%;
    margin-bottom: 3%;
}
.tools-text{
    display: inline-block;
    margin-top: 8%;
    margin-left: 7%;
    background-color: black;
}
.tools-text span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0 !important;
}
h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: white !important;
    margin-top: 6px;
}
.tools-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: white !important;
    margin-top: 14px;
    margin-bottom: 30px;
}
.tools-text a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;   
    letter-spacing: 0.4px;
    text-decoration: none;
    color: black !important;
    background-color: white;
    padding: 10px;
    border-radius: 14px;
    transition: color 0.15s ease-in-out 0s;
    margin-top: 30px;
}
.tools-text a:hover{
    color: gray !important;
}
.tools-bg{
    position: relative;
    float: right;
    width: 720px;
    height: 540px;
}
.tools{
    background-color: black;
}
.tools-banner{
    position: relative;
}
.tools-bn{
    position: relative;
    width: 100%;
    height: 600px;
}
.tools-bn-text{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 27%;
    margin-right: 10%;
}
.tools-bn-text span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white !important;
}
.tools-bn-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0 !important;
}
.past-clients{
    background-color: black;
}
.text-client{
    padding-top: 10%;
    color: white;
    text-align: center;
}
.text-client span{
    font-family: 'Poppins';
    font-style: normal !important;
    font-weight: 400;
    font-size: 24px !important;
    line-height: 30px;
    color: #C0C0C0 !important;
}
h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 40px !important;
    line-height: 42px !important;
}
.cards-clients{
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
}
.cards-clients div{
    display: inline;
}
.client-bn{
    position: relative;
}
.client-bn img{
    margin-top: 10%;
    width: 100%;
    height: 600px;
}
.client-bn-text{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 27%;
    margin-right: 10%;
}
.client-bn-text span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white !important;
}
.client-bn-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0 !important;
}
.text-help{
    text-align: center;
    margin-top: 10%;
    color: white;
}
.text-help span{
    font-family: 'Poppins';
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 24px !important;
    line-height: 30px !important;
    color: #C0C0C0 !important;
}
h5{
    font-family: 'Poppins';
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 40px !important;
    line-height: 42px !important;
}
.get-in{
    margin-top: 2%;
}
.get-in a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: black !important;
    background-color: white;
    padding: 10px;
    border-radius: 14px;
    transition: color 0.15s ease-in-out 0s;
}
.get-in a:hover{
    color: gray !important;
}
footer{
    background-color: black;
}
.footer-logo{
    margin-left: 5%;
    display: inline-block;
}
.footer-logo img{
    margin-top: 10%;
    margin-left: 10%;
    width: 128px;
    height: 31px;
}
.footer-p{
    font-family: 'Poppins';
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 20px !important;
    color: #C0C0C0 !important;
    margin-left: 10%;
    margin-top: 1%;
}

/* ICONS */
.instagram_icon {
    font-size: 30px;
    background-color: white;
    color: #3A3A3A;
    border-radius: 100%;
    padding: 10px;
    transition: all 0.7s ease-in-out;
    text-decoration: none;
}
.instagram_icon:hover{
    color: red;
}
.facebook_icon {
    font-size: 30px;
    background-color: white;
    color: #3A3A3A;
    transition: all 0.7s ease-in-out;
    text-decoration: none;
    border-radius: 30px;
    margin-left: 10%;
    padding: 10px;
}
.facebook_icon:hover{
    color: red;
}
.github_icon {
    font-size: 30px;
    background-color: white;
    color: #3A3A3A;
    transition: all 0.7s ease-in-out;
    text-decoration: none;
    border-radius: 30px;
    margin-left: 10%;
    padding: 10px;
}
.github_icon:hover{
    color: red;
    cursor: pointer;
}
.icons{
    position: absolute;
    top: 0;
    margin-top: 12%;
    margin-left: 80%;
    width: 20%;
}
/* // */
.footer-content{
    padding-top: 10%;
    position: relative;
    padding-bottom: 5%;
}

@media only screen and (max-width:1280px) {
    .navbar-brand{
        margin-left: 0;
    }
    .head-bg{
        height: 40vh;
    }
    .card-group2{
        display: flex;
        flex-direction: column !important;
        justify-content: center;
    }
    .card3{
        margin-bottom: 2%;
    }
    .about-bg-text{
        margin-top: 14%;
        margin-right: 4%;
    }
    .tools-bg{
        width: 430px;
        height: 390px !important;
    }
    .tools-text p{
        font-size: 8px !important;
    }
    .tools-text a{
        font-size: 10px !important;
    }
    .tools-bn{
        height: 230px
    }
    .tools-bn-text{
        margin-top: 20%;
        margin-right: 10%;
    }
    .tools-bn-text p{
        font-size: 9px !important;
    }
    .tools-banner{
        padding-top: 10%;
    }
    .client-bn img{
        margin-top: 0;
        height: 460px;
    }
    .icons{
        display: flex;
        position: absolute;
        top: 0;
        margin-top: 17%;
        margin-left: 75%;
        width: 20%;
    }
}
@media only screen and (max-width:550px){
    .head-bg{
        height: 57vh;
    }
    .head-text{
        margin-top: 40px;
    }
    .head-text span{
        font-size: 12px !important;
    }
    h1{
        font-size: 55px !important;
    }
    .about-text{
        padding-top: 65px;
    }
    .cards{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
    }
    .card-group2{
        display: flex;
        flex-direction: column !important;
        justify-content: center;
    }
    .cards img{
        height: 350px;
    }
    .card1{
        padding-bottom: 30px;
    }
    .card2{
        padding-bottom: 30px;
        margin-left: 0;
    }
    .card3{
        padding-bottom: 30px;
    }
    .card4{
        padding-bottom: 30px;
        margin-left: 0;
    }
    .card-text1{
        margin-top: 45%;
    }
    .card-text2{
        margin-top: 45%;
    }
    .card-text3{
        margin-top: 45%;
    }
    .card-text4{
        margin-top: 45%;
    }
    .card-text1 p{
        font-size: 12px;
    }
    .card-text2 p{
        font-size: 12px;
    }
    .card-text3 p{
        font-size: 12px;
    }
    .card-text4 p{
        font-size: 12px;
    }
    .read-more{
        font-size: 12px;
    }
    .about-bg p{
        font-size: 10px;
    }
    .about-bg-text{
        margin-top: 8%;
        margin-right: 4%;
    }
    .icons-info{
        width: 145px;
    }

    h3{
        font-size: 18px !important;
    }
    .tools-text p{
        font-size: 8px !important;
    }
    .tools-text a{
        font-size: 10px !important;
    }
    .tools-bg{
        display: none;
    }
    .tools-bn{
        height: 230px
    }
    .tools-bn-text{
        margin-top: 30%;
        margin-right: 2%;
    }
    .tools-bn-text p{
        font-size: 9px !important;
    }
    .tools-banner{
        padding-top: 10%;
    }
    .cards-clients{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards-clients img{
        padding-top: 20%;
    }

    .client-bn img{
        width: 100%;
        height: 300px;
        margin-top: 0;
    }
    .client-bn-text{
        margin-top: 20%;
        margin-right: 5%;
    }
    .icons{
        display: flex !important;
        margin-top: 0 !important;
        margin-left: 11% !important;
        position: relative;
    }
}
@media only screen and (max-width:320px){
    h1{
        font-size: 50px !important;
    }
    .about-text{
        padding-top: 65px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-group2{
        display: flex;
        flex-direction: column !important;
        justify-content: center;
    }
    .cards img{
        height: 270px;
    }
    .card1{
        padding-bottom: 30px;
    }
    .card2{
        padding-bottom: 30px;
        margin-left: 0;
    }
    .card3{
        padding-bottom: 30px;
    }
    .card4{
        padding-bottom: 30px;
        margin-left: 0;
    }
    .card-text1{
        margin-top: 30%;
    }
    .card-text2{
        margin-top: 30%;
    }
    .card-text3{
        margin-top: 30%;
    }
    .card-text4{
        margin-top: 30%;
    }
    .card-text1 p{
        font-size: 12px;
    }
    .card-text2 p{
        font-size: 12px;
    }
    .card-text3 p{
        font-size: 12px;
    }
    .card-text4 p{
        font-size: 12px;
    }
    .read-more{
        font-size: 12px;
    }
    .about-bg-text p{
        font-size: 7px;
    }
    .about-bg-text span{
        font-size: 10px;
    }
    .about-bg-text{
        margin-top: 2%;
        margin-right: 4%;
    }
    .icons-info{
        width: 145px;
    }
    .tools-text{
        margin-left: 4%;
    }
    .text-help{
        margin-top: 1%;
    }
    .client-bn-text{
        margin-top: 20%;
        margin-right: 3%;
    }
    .client-bn-text span{
        font-size: 10px;
    }
    .client-bn-text p{
        font-size: 10px;
    }
    .client-bn img{
        width: 100%;
        height: 250px;
        margin-top: 0;
    }
}